body {
  background-color: black;
  background-image: url('b2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

ul {
       list-style-type: none;
        margin:0;
        padding:0;
        overflow: hidden;
          
        }

      a {
        float:left; }

       a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      a:hover {
       background-color: #111;
      }
article{
     background-color: black;
     background-image: url('pb1.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     height:30vh;
     width:50%;
     border-color:black;
     border-width:5px;
     border-style:solid;
     padding:10px 10px;
     background-color:#1E646E;
     line-height: 150%;
     margin-top: 0px;
     margin-right: auto;
     margin-bottom: 0px;
    margin-left: auto;
           
      }
img{
       width:25%;
       height:100%;
            }

section{
  background-color: black;
  background-image: url('pb.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:200%;
  width:100%;
  border-color:black;
  border-width:5px;
  border-style:solid;
  padding:10px 10px;
  background-color:#95C8D8;
  line-height: 150%
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
            
}            
p{
      color:lightblue;
      font-style: italic;
      font-size: 200%;
      line-height: 50px;

}

h1{
  text-align: center;
  border-color: red;
  color:white;
}
